<div class="example-container">
  <mat-card>
    <mat-card-title>
      <strong>Detalhes</strong>
    </mat-card-title>
    <mat-card-content>
      <strong>Título:</strong> {{details.livro}}
    </mat-card-content>
    <mat-card-content>
      <strong>ISBN:</strong> {{details.isbn}}
    </mat-card-content>
    <mat-card-content>
      <strong>Autor:</strong> {{details.autor}}
    </mat-card-content>
    <mat-card-content>
      <strong>Editora:</strong> {{details.editora}}
    </mat-card-content>
    <mat-card-content>
      <strong>Ano:</strong> {{details.ano}}
    </mat-card-content>
    <mat-card-content>
      <strong>Idioma:</strong> {{details.idioma}}
    </mat-card-content>
    <mat-card-content>
      <strong>Peso:</strong> {{details.peso}}
    </mat-card-content>
    <mat-card-content>
      <strong>Dimensões:</strong> {{details.dimensoes}}
    </mat-card-content>
  </mat-card>
</div>